@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">

    <h1 class="display-4">SINPE</h1>

    <p>Bienvenido a la sucursal virtual de Banco los patitos.</p>

    <a class="btn btn-primary" asp-controller="Comercio" asp-action="Index">
        Ir al módulo de Comercios
    </a>

</div>